# Dir
/bin

# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
.venv
venv/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Project output files
my_bst_output.txt
my_avl_output.txt
*_output.txt
